.prodcate_dls_1_0_0 {
    padding: 40px 0 20px 0;
    font-family: var(--primary-font);
    font-weight: 600;
    &__photo{
        gap:20px;
        margin:20px 0;
        text-align: center;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto;
    }
    &__title{
        position: relative;
        font-weight: 700;
        font-size:18px;
        margin: 20px 0;
        text-transform: uppercase;
    }
    &__name{
        font-weight: 600;
        color:#fff;
    }
    &__des{
        color: #777;
    }
    &__pic{
        background-color: #ccc;
        overflow: hidden;
        margin:10px 0 15px;
        img {
            width:100%;
            height: auto;
            display: block;
            transition: all 0.2s linear;
        }
        &:hover {
            img {
                filter: grayscale(0);
                transform: scale(1.05);
            }
        }
    }
}
@media (max-width:1180px){
    .prodcate_dls_1_0_0 {
        padding: 20px 0 20px 0;
    }
}