
			<IfModule mod_security.c>
			SecFilterEngine Off
			SecFilterScanPOST Off
			SecFilterCheckURLEncoding Off
			SecFilterCheckCookieFormat Off
			SecFilterCheckUnicodeEncoding Off
			SecFilterNormalizeCookies Off
			</IfModule>