.service_dls_1_0_0 {
    padding: 40px 0 20px 0;
    font-family: var(--primary-font);
    &__content{
        margin:40px auto;
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        width:90%;
    }
    &__item{
        width: 24%;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
            display: block;
            transition: all 0.2s linear;
        }
        &:hover {
            img {
                filter: grayscale(0);
                transform: scale(1.05);
            }
        }
    }
    &__content{
        flex-wrap: wrap;
        justify-content: center;
        ul{
            display: flex;
            margin:0;
            flex-wrap: wrap;
        }
        li{
            width:33%;
            margin:8px 0;
        }
    }
}
@media (max-width:1440px){
    .service_dls_1_0_0__content{
        width:100%;
    }
    .service_dls_1_0_0__item{
        width:23%;
    }
}
@media (max-width:720px){
    .service_dls_1_0_0__item {
        width: 47%;
    }
    .service_dls_1_0_0__content li {
        width: 100%;
    }
}
