.newsOther_dls_1_0_0{
    margin: 50px auto 0;
    border-top:1px solid #fff;
    padding:20px 0;
    text-align: center;
    max-width: 90%;
    &__title{
        font-size:18px;
        padding-bottom: 10px;
        font-weight: 600;
        text-transform: uppercase;
        position: relative;
    }
    &__line{
        width:100px;
        border-top:1px solid #fff;
        margin:10px auto 40px;
    }
    &__tt{
        font-size:15px;
        margin:0 0 5px;
        a{
            display: block;
            color: #fff;
        }
    }
    span{
        font-size:14px;
        color: #6e6e6e;
    }
    ul{
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        justify-content:center;
    }
    li{
        padding: 0;
        margin:0
    }
    &__pic img{
        margin:0 20px;
        max-width: 90%;
        height: auto;
    }
}
@media (max-width:912px){
    .newsOther_dls_1_0_0{
        max-width: 100%;
    }
}
@media (max-width:600px){
    .newsOther_dls_1_0_0 ul{
        flex-direction: column;
    }
}
@media (max-width:414px){
    .newsOther_dls_1_0_0 li{
        width:100%;
    }
}