.projectList_dls_1_0_0{
    margin: 20px auto 0;
    padding:30px 0;
    max-width: 68%;
    &__title{
        font-size:18px;
        padding-bottom: 10px;
        font-weight: 600;
        text-transform: uppercase;
        position: relative;
        text-align: center;
    }
    &__line{
        width:100px;
        border-top:1px solid #fff;
        margin:10px auto 40px;
    }
    &__tt{
        font-size:15px;
        margin:5px 0 15px;
        border-left: 2px solid #5A6773;
        padding-left: 10px;
        a{
            display: block;
            color: #fff;
        }
    }
    span{
        font-size:14px;
    }
    ul{
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        justify-content:space-between;
        flex-wrap: wrap;
    }
    li{
        padding: 0;
        margin:0;
        width: 32%;
    }
    &__pic img{
        width: 100%;
        height: auto;
    }
}
@media (max-width:912px){
    .projectList_dls_1_0_0{
        max-width: 88%;
    }
    .projectList_dls_1_0_0 li{
        width:48%;
    }
}
@media (max-width:600px){
    .projectList_dls_1_0_0 ul{
        flex-direction: column;
    }
}
@media (max-width:414px){
    .projectList_dls_1_0_0 li{
        width:100%;
    }
}