.wheel {
    max-width: 500px;
    display: flex;
    margin: 0 auto;
    position: relative;
}

.wheelSpin,
.wheelSidebar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.wheelSpin {
    z-index: 2;
    align-items: center;
    justify-content: center;
}

.wheelSidebar {
    z-index: 2;
    align-items: center;
}

.sec {
    width: 100%;
    z-index: 1;
    transition-duration: 5s;
    transition-timing-function: ease-in-out;
    transform: rotate(-12deg);
}

.wheel img {
    max-width: 100%;
}

.wheelIcon {
    display: block;
    background: url(images/point.png) no-repeat;
    width: 60px;
    height: 50px;
    background-size: 100%;
    z-index: 12;
    align-self: center;
    margin-left: -40px;
}

.spin {
    width: 30%;
    height: 30%;
    background-size: 100%;
    border-radius: 100%;
    z-index: 1000;
    background-image: url(images/start.png);
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

.spin-end {
    background-image: url(images/start_end.png);
    background-repeat: no-repeat;
    background-position: center center;
}