.slider_dls_1_0_0 {
    font-family: var(--primary-font);
    overflow: hidden;
    &__video{
        position: relative;
        width: 100%;
        overflow: hidden;
        padding-top: 56.25%;
        iframe{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            border: none;
        }
    }
    .slider__content  {
        display: flex;
        top: 0;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    
    .slider__content{
        position: relative;
        box-shadow: 8px 8px 25px 0px  rgba(0,0,0,0.2);
    }
    .slider__controlRight, .slider__controlLeft{
        cursor: pointer;
        display: block;
        text-align: center;
        position: absolute;
        width: 60px;
        height: 100%;
        color: white;
        font-size:28px;
        right:176px;       
    }
    
    .slider__controlRight{
        bottom:-219px;
    }
    .slider__controlLeft{
        bottom:-270px;
    }
    
    .slider__control{
        width: 100%;
        height: 100%;
        position: relative;
        background: rgba(0, 0, 0, 0.9);
        font-size: 21px;
        text-align: center;
    }
    
    img, span, div{
        animation:fadeinnew 1.5s;
    }
    .slider__item{
        padding-bottom: 50%!important;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .slider__text{
        padding-top: 20px;
        color: white;
        position: absolute;
        bottom:140px;
        left:12%;
        font-weight: 300;
        font-size: 48px;
        line-height: 60px;
        letter-spacing: 0.06em;
        animation: fadeInUp 1.5s;
    }
    
    @keyframes fadeinnew {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    .slider__controlLeft:after,.slider__controlRight:after{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%) scale(0.8);
        transition: all 0.3s;
        z-index: 1;
        content:'';
        width:64px;
        height:64px;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #F2F2F2;
    }
    .slider__controlLeft:hover:after,.slider__controlRight:hover:after{
        opacity: 0.8;
    }
    .slider__controlLeft::after{
        background-image: url(../images/icon-left.png);
    }
    .slider__controlRight::after{
        background-image: url(../images/icon-right.png);
    }
    
    /* The dots/bullets/indicators */
    .slider__dots{
        text-align: center;
        position: absolute;
        bottom: 3%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .slider__dot {
        position: relative;
        cursor:pointer;
        height: 1rem;
        width: 1rem;
        border: 1px solid rgb(255,255,255);
        opacity: 0.5;
        margin: 0 2px;
        border-radius: 50%;
        display: inline-block;
        transition: all 0.3s ease;
    }
    
    .slider__dot:hover {
        box-shadow: -2px 0 10px 5px rgba(200, 200, 200 ,0.3);
        background-color: rgba(200, 200, 200 ,0.8);
        border: 1px solid rgb(255,255,255);
        transform: scale(1.2);
    }
}
@media (max-width:1440px){
    .slider_dls_1_0_0 .slider__item {
        padding-bottom: 43% !important;
    }
    .slider_dls_1_0_0 .slider__text{
        font-size: 34px;
        bottom: 90px;
    }
    .slider_dls_1_0_0 .slider__controlLeft {
        bottom: 201px;
    }
    .slider_dls_1_0_0 .slider__controlRight {
        bottom: 150px
    }
    .slider_dls_1_0_0 .slider__controlRight, .slider_dls_1_0_0 .slider__controlLeft{
        height: auto;
        right:116px;
    }
   
}
@media (max-width:1366px){
    .slider_dls_1_0_0 .slider__controlLeft {
        bottom: 169px;
    }
    .slider_dls_1_0_0 .slider__controlRight {
        bottom: 118px;
    }
    .slider_dls_1_0_0 .slider__controlRight, .slider_dls_1_0_0 .slider__controlLeft{
        right:76px;
    }
    .slider_dls_1_0_0 .slider__text{
        font-size: 26px;
        bottom: 70px;
    }
}
@media (max-width:1280px){
    .slider_dls_1_0_0 .slider__controlLeft {
        bottom: 133px;
    }
    .slider_dls_1_0_0 .slider__controlRight {
        bottom: 81px;
    }
    .slider_dls_1_0_0 .slider__controlRight, .slider_dls_1_0_0 .slider__controlLeft{
        right:31px;
    }
    .slider_dls_1_0_0 .slider__text{
        bottom: 30px;
    }
}
@media(max-width:912px){
    .slider_dls_1_0_0 .slider__controlLeft:after, .slider_dls_1_0_0 .slider__controlRight:after{
        width:40px;
        height:40px;
    }
    .slider_dls_1_0_0 .slider__controlLeft {
        bottom: 114px;
    }
    .slider_dls_1_0_0 .slider__text{
        font-size:18px;
    }
}
@media(max-width:600px){
    .slider_dls_1_0_0 {
        margin-top: 67px;
    }
}