html,
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Open Sans', sans-serif;
}

.wheel {
    max-width: 520px;
    display: flex;
    margin: 0 auto;
    position: relative;
}

.wheelSpin,
.wheelSidebar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.wheelSidebar {
    flex-direction: row-reverse;
}

.wheelSpin {
    z-index: 2;
    align-items: center;
    justify-content: center;
}

.wheelSidebar {
    z-index: 2;
    align-items: center;
}

.sec {
    width: 100%;
    z-index: 1;
    /* transition: transform 12s ease; */
    transform: rotate(0deg);
}

.wheel img {
    max-width: 100%;
}

.wheelIcon {
    display: block;
    background: url(../images/point.png) no-repeat;
    width: 60px;
    height: 130px;
    background-size: 60px;
    z-index: 12;
    align-self: center;
    margin-right: -38px;
}

.spin {
    width: 30%;
    height: 30%;
    background-size: 100%;
    border-radius: 100%;
    z-index: 1000;
    background-image: url(../images/start.png);
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.spin-end {
    background-image: url(../images/start_end.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.main {
    text-align: center;
    background: url(../images/bg.jpg) center 0 no-repeat;
    background-color: #0051de;
    width: 100vw;
    height: 100vh;
}

.rotationBox {
    background: url(../images/vong-ngoai.png) center no-repeat;
    background-size: 740px;
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.rotationText {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    text-align: center;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    color: #33ffff;
}

.rotationGift {
    background: url(../images/gift.png) 0 0 no-repeat;
    position: absolute;
    right: 0;
    bottom: 30px;
    width: 330px;
    height: 240px;
}

.modal-container {
    background-color: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

.modal-content {
    padding: 5px 20px;
    border-radius: 5px;
    width: 470px;
    background-color: #fff;
}

.modal-content div {
    padding: 5px 0;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
}

.control {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.control button {
    margin: 0 5px;
}

.winnerListTitle {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
    color: #034ed0;
}

.winnerListBox {
    padding: 20px;
    border-radius: 5px;
    width: 90%;
    background-color: #fff;
    max-height: 85%;
    overflow: auto;
}

.winnerListBox table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #dee2e6;
}

.winnerListBox th,
.winnerListBox td {
    border: 1px solid #dee2e6;
    padding: 0.5rem;
    vertical-align: top;
}

.winnerListBox th {
    font-weight: 700;
}

.winner {
    font-size: 14px;
    font-weight: 600;
}

.winnerMaNV {
    display: none;
}

.winnerTenNV span {
    font-size: 38px;
    color: #c00;
    display: block;
    font-weight: normal;
    margin: 11px 0;
    font-family: 'Lobster', cursive;
}

.winnerKhoi {
    font-style: italic;
}

.winnerPhanThuong {
    margin: 10px 0 0;
}

.winnerPhanThuong span {
    display: block;
    font-size: 21px;
    color: #c00;
    text-transform: uppercase;
    margin: 15px 0;
}

.winnerGiai {
    font-style: italic;
}

.winnerFooter {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

@media (max-width:1440px) {
    .main {
        background-size: 1440px;
    }
    .rotationBox {
        width: 60%;
    }
}

@media (max-width:1366px) {
    .rotationGift {
        right: -150px;
    }
}

@media (max-width:1280px) {
    .main {
        background-size: 1311px;
    }
    .rotationBox {
        width: 55%;
    }
}

@media (max-width: 1024px) {
    .main {
        background-size: 1100px;
        background-position: center;
    }
    .rotationBox {
        width: 48%;
        background-size: 550px;
    }
    .wheel {
        max-width: 420px;
    }
    .rotationText {
        font-size: 13px;
    }
    .rotationGift {
        right: -220px;
    }
}